body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../img/body-background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Varela', sans-serif;
  }

h3{
    padding-bottom: 15px;
}

.jumbotron {
    /* height: 200px; */
    padding: 2rem 2rem;
    justify-content: space-between;
}
.jumbotron h3, .jumbotron form {
    padding: 15px 0;
}

.logo{
    width: 350px;
}


#movies img{
    padding: 5px;
}
h6, p, small{
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

.navbar-brand{
    filter: drop-shadow(2px 2px 5px #C97710);
}

#movies .col-md-3 .well {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    height: 380px;
}

@media screen and (max-width: 480px) {
    #movies .col-md-3 .well {
        height: auto;
    }
}

.well img{
    height: 80%;
}

.info{
    font-weight: bold;
    color: white;
    font-size: 1rem;
    padding: 0!important;
}


#image {
    width: 100%;
    
}

.navbar-brand{
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.navbar-brand:hover{
    color: white;
    transform: scale(1.1);
}

.hover2{
    position: relative;
}
.hover2:hover  .hover{
    display: initial;
}

.hover{
    position: absolute;
    
    height: 370px;
    width: 235px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    /* filter: brightness(0.5); */
}

.details-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.btn{
    font-weight: bold;
    font-size: 1.2rem;
}

label {
    opacity: 0;
    transform: translate(15px, -25px);
    transition: opacity linear 200ms, transform ease-in 150ms;
}
input:not(:placeholder-shown) ~ label {
    transform: translate(15px, -60px);
    color: white;
    opacity: 1;
}

.row .well {
    background-color: #222222 ;
    width: 95%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

h2{
    filter: drop-shadow(1px 1px 1px #2A9FD6);
}